<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/css/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/css/app/main.css" rel="stylesheet">
		<title>TermTalk</title>
	</head>
	<body>
		<div id="alert-container">

		</div>

		<div id="main-container">

		</div>

		<div id="modal-container">

		</div>
		
		<script data-main="static/js/main" src="static/js/libs/require.js"></script>
	</body>
</html>
